@page "/produtos"

@inject IViewListOfProductsUseCase ViewListOfProductsUseCase
@inject IViewProductsCountUseCase ViewProductsCountUseCase
@inject ICartState CartService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Produtos</PageTitle>

<SearchProductComponent OnSearchProduct="SeachProduct"></SearchProductComponent>

@if(products == null)
{
    <div class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Total: @productsCount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@(product.Price.FormatPrice() + "€")</td>
                    <td>
                        @if (product.Quantity == 0)
                        {
                            <span class="text-danger">Quantidade esgotada</span>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" @onclick="() => AddToCart(product)">Adicionar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> 
}


@code {
    private List<Artigo>? products;
    private int? productsCount;

    protected override async Task OnInitializedAsync()
    {
        if (productsCount == null)
        {
            productsCount = await ViewProductsCountUseCase.ExecuteAsync(); 
        }

        products = (await ViewListOfProductsUseCase.ExecuteAsync())!.ToList();
    }

    private async Task SeachProduct(string name)
    {
        products = (await ViewListOfProductsUseCase.ExecuteAsync(name))!.ToList();
    }

    private void AddToCart(Artigo artigo)
    {
        CartService.AddItem(artigo);
    }
}