

<div class="input-group">
    <input type="text" class="form-control" placeholder="Insira o nome do produto a procurar" @bind-value=productNameToSearch />
    <button type="button" class="btn btn-success input-group-text" @onclick="OnSearch">Procurar</button>
</div>

@code {
    private string productNameToSearch = string.Empty;
    [Parameter]
    public EventCallback<string> OnSearchProduct { get; set; }

    public void OnSearch()
    {
        OnSearchProduct.InvokeAsync(productNameToSearch);
    }
}
