
<div class="input-group">
    <input type="text" class="form-control" placeholder="Insira o nome do produto a procurar" @bind-value=productNameToSearch @onkeypress="async (e) => await KeyPressHandler(e)" />
    <button type="button" class="btn btn-success input-group-text" @onclick="async () => await OnSearch()">Procurar</button>
</div>

@code {
    private string productNameToSearch = string.Empty;
    [Parameter]
    public EventCallback<string> OnSearchProduct { get; set; }

    public async Task OnSearch()
    {
        await OnSearchProduct.InvokeAsync(productNameToSearch);
    }

    private async Task KeyPressHandler(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Task.Delay(50);
            await OnSearch(); 
        }
    }
}
